@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    background: #ffffff url('../assets/burger-loader.gif') no-repeat center center; /* Image source: Pavel Maček */
    background-size: 55%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: larger;
    font-style: normal;
    color: #1e1e1e;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E57200;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: #f4f4f4;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-size: small;
    text-decoration: none;
    color: #333;
    font-weight: regular;
}

.cart-icon {
    font-size: 34px;
}

iframe {
    display: none;
}

/* Botão Cancelar */
.container-btn {
    position: relative; 
    margin: 20px auto;
    width: 170px;
    text-align: center;
}

button#button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 190px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #cd1e1e;
    color: #cd1e1e;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button#button:hover {
    color: white;
    background: #cd1e1e;
}

button#button:active {
    letter-spacing: 2px;
}

button#button:after {
    content: "CANCELAR PEDIDO";
}

button#button.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #cd1e1e;
    animation: rotating 2s 0.25s linear infinite;
}

button#button.onclic:hover {
    color: #cd1e1e;
    background: white;
}

button#button.validate {
    font-size: 13px;
    color: white;
    background: #cd1e1e;
}

button#button.validate:after {
    font-family: "FontAwesome";
    content: "✔";
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* AQUI */

.resumo-container {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    border-radius: 12px;
}

.resumo-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.resumo-item h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    margin: 0;
    color: #E57200;
    font-size: 1.2rem;
}

.resumo-item p {
    margin: 2px 0;
    font-size: 0.95rem;
}

.total {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 30px;
}